<?xml version="1.0" encoding="utf-8"?>
<ProjectConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ProjectList>
    <Project>
      <name>slaestracking</name>
      <path>E:\IONIC\SALES_TRACKING_API\salestracking\mobile\mobileApp\SalesTracking\www</path>
      <allowTemplate>false</allowTemplate>
      <startPage>loginNav</startPage>
    </Project>
    <Project>
      <name>ionicApp</name>
      <path>e:/ionicApp</path>
      <allowTemplate>true</allowTemplate>
      <startPage>root/home</startPage>
    </Project>
    <Project>
      <name>ionicApp007</name>
      <path>e:/ionicApp007</path>
      <allowTemplate>true</allowTemplate>
      <startPage>root/home</startPage>
    </Project>
  </ProjectList>
</ProjectConfig>